/* Reset some default styles */

body,
button,
input,
textarea {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.container {
    display: flex;
    height: 100vh;
    align-items: stretch;
}

#newNoteBtn {
    background-color: tomato;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

#newNoteBtn:hover {
    background-color: rgb(255, 67, 33);
}

.note-container {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

input[type="text"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
    resize: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}

textarea {
    height: 100px;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #007BFF;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card-container {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.note-card {
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.note-card:hover {
    background-color: #f0f0f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.305);
}

.note-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #007BFF;
}

.note-card p {
    font-size: 16px;
    color: #333;
}

button:not(#newNoteBtn) {
    background-color: #007BFF;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:not(#newNoteBtn):hover {
    background-color: #0056b3;
}

@media (max-width: 400px) {
    .note-container {
        padding: 10px;
    }
    input[type="text"],
    textarea {
        padding: 8px;
        font-size: 14px;
    }
    button {
        padding: 8px 12px;
        font-size: 14px;
    }
    .container {
        flex-direction: column;
        /* Change to a column layout */
        align-items: center;
        /* Center-align the items */
    }
    .note-container {
        order: 2;
        /* Change the order to display below */
    }
    .card-container {
        padding: 10px;
        order: 1;
        /* Change the order to display above */
    }
    .note-card {
        font-size: 12px;
        padding: 8px;
        margin: 8px;
    }
    .note-card h2 {
        font-size: 16px;
        margin-bottom: 8px;
    }
    .note-card p {
        font-size: 14px;
    }
}